@page
@model ASP101.Pages.IndexModel
@{
    ViewData["Title"] = "RND.Soft";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table class = "Student DB">
        <thead>
            <tr>
                <th>ID</th><th>NAME</th><th>COURSES</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Students) {
                <tr>
                    <td>@x.stud_id</td>
                    <td>@x.stud_name</td>
                    <td>@x.stud_course</td>
                </tr>
            }
        </tbody>
    </table>
</div>
